header {
    display: flex;
    align-items: center;
    padding: 68px 0 0 77px;
    @include sp {
        justify-content: space-between;
        padding: 0;
    }
    .hd-logo {
        font-family: Roboto Mono for Powerline;
        font-size: 38px;
        @include sp {
            font-size: 20px;
            margin: 24px 0 24px 21px;
        }
    }
    .ham {
        display: none;
        @include sp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 16px;
            height: 14px;
            margin: 28px 20px 28px 0;
            span {
                width: 100%;
                height: 1px;
                display: inline-block;
                background-color: #3B4043;
            }
            :nth-child(3) {
                width: 70%;
            }
        }
    }   
    .hd-nav {
        z-index: 10;
        font-size: 18px;
        color: $gray;
        @include sp {
            display: none;
        }
    }
    .hd-nav ul {
        display: flex;
        :nth-child(1) {
            margin-left: 20px;
            color: black;
            text-decoration: underline;
        }
        :nth-child(2) {
            margin-left: 21px;
        }
        :nth-child(3) {
            margin-left: 15px;
        }
        :nth-child(4) {
            margin-left: 19px;
        }
    }    
}
